.header{
    margin-left: 30px;
    display: flex;
    width: 90%;
    
}

.welcome{
    color: #000;
    font-size: 25px;
    font-weight:bold;
    white-space: nowrap;
}

.search-bar{
    height: fit-content;
}

@media screen and (min-width: 769px){
    .welcome{
        display: none;
    }
}

.buttons {
    display: flex;
    gap: 10px;
  }
  
  .login-btn,
  .signin-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    height: 44px;
    width: fit-content;
    white-space: nowrap;
  }
  
  .login-btn {
    background-color: #186fbc;
    color: white;

  }
  
  .signin-btn {
    background-color: #0d171f;
    color: white;
    border: 2px solid #186fbc;
  }